@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Teko');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

.home-body {
    background: rgb(30,82,168); /* url('images/b3.jpg');*/
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    -webkit-animation: backgrd 14s infinite;
    animation: backgrd 14s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes backgrd {
    50% {background-size: 110%;}
}

/* Standard */
@keyframes backgrd {
    50% {background-size: 110%;}
}

nav {
    background: #080808e3;
    position: fixed;
    width:100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
}

nav .wrapper {
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .nav-links {
    display: inline-flex;
}

.wrapper .logo a {
    color: #fcfcfc;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.nav-links li .res {
    color: #f2f2f2;
    text-decoration: none;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    transition: all 0.5s ease;
    border-radius: 5px;
    border-style: solid;
    border-color: #fcfcfc;
    border-width: 1px;
}

.nav-links li .res:hover {
    background: #fcfcfc;
    color: #131414;
    transition: all 0.5s ease;
}

.nav-links li a:hover {
    background: #3A3B3C;
}

.nav-links .drop-menu {
    background: #111213;
    width:200px;
    top: 65px;
    line-height: 10px;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease;
}

.nav-links li:hover .drop-menu {
    transition: all 0.1s ease;
    opacity: 100;
    line-height: 45px;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}


.main-title {
    width:100%;
    margin-top: 300px;
    position: absolute;
    align-items: center;
    text-align: center;
}

.main-title h1 {
    font-family: 'Teko';
    color: #fff;
    font-size: 116px;
    font-weight: 700;
    
}

.main-title p {
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}

.login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 50px;
}
.form-group label {
    font-weight: bold;
}
.btn-primary {
    background-color: #1e52a8;
    border-color: #1e52a8;
}
.btn-primary:hover {
    background-color: #0f2c5c;
    border-color: #0f2c5c;
}
.btn-secondary {
    background-color: #ccc;
    border-color: #ccc;
    color: #333;
}
.btn-secondary:hover {
    background-color: #bbb;
    border-color: #bbb;
    color: #333;
}

.inscription_form {
    margin-top: 100px;
    }



.log-wrapper {
    background: url('/images/backgr.jpg') no-repeat;
    background-size:auto 111%;
    height: 80vh;
        
    
}
    
.log-form {
    text-align:center;
    background-color: rgb(255, 255, 255);
    max-width: 400px;
    height: 600px;
    margin: 7% 0 0 14%;
    padding: 50px;
    border-radius: 10px;
    
}


.log-inputs{
    margin-top: 8px;
    text-align: left;
    font-weight: bold;
    font-size: small;
    
}


.log-inputs span {
    margin-left: 5px;
}


.log-inputs input {
    width:100%;
    height: 35px;
    padding: 5px;
    margin: 5px;
    border-bottom-width: 2px;
    outline:none;
    border: solid 1px #13151a;

}



.log-inputs input:focus {
    border-color:#719aec;
}




.log-error {
    
    color: rgb(255, 124, 16);
}

.U-pic{
    height: 160px;
    width:  160px;
}


#log-btn {
    width: 100%;
    height: 40px;
    margin: 5px;
    margin-top: 10px;
    background: rgb(79, 119, 253);
    background: radial-gradient(circle, rgb(74, 122, 255) 30%, rgb(111, 197, 255)  100%);
    border-style:hidden;
    font-weight: 26px;
    font-size: 15px;


}

#log-btn:hover{
    background: rgb(181,19,52);
    background: radial-gradient(circle, rgb(16, 148, 236) 16%, rgb(74, 122, 255) 100%);
    cursor: pointer;
    color:white;
    
}

#sub-btn {
    width: 100%;
    height: 40px;
    margin: 5px;
    margin-top: 10px;
    background: rgb(75, 206, 49);
    background: radial-gradient(circle, rgb(7, 179, 15) 30%, rgb(16, 180, 104) 100%);
    border-style:hidden;
    font-weight: 26px;
    font-size: 15px;


}

#sub-btn:hover{
    background: rgb(15, 221, 101);
    background: radial-gradient(circle, rgb(15, 153, 89), rgb(14, 148, 21) 100%);
    cursor: pointer;
    color:white;
    
}


.container_progress_bar {
    width: 600px;
    height: 2px;
    margin: 2% auto;
    position: relative;
  }

  
  .container_progress_bar .steps {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }



/* CSS pour centrée le les labesl */

/* new one */

.steps .circle::before {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(100% + 10px);
  font-size: 14px;
  margin-bottom: 10px;
  transform: translateY(100%);
}


/*fin CSS pour centrée les labels */




/* fin new one */

  .steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #999;
    font-size: 22px;
    font-weight: 500;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #e0e0e0;
    transition: all 200ms ease;
    transition-delay: 0s;
  }
  .steps .circle.active {
    transition-delay: 100ms;
    border-color: #1e52a8;
    color: #1e52a8;
  }
  .steps .progress-bar {
    position: absolute;
    height: 5px;
    width: 100%;
    background: #e0e0e0;
    z-index: -1;
  }
  .progress-bar .indicator {
    position: absolute;
    height: 100%;
    width: 0%;
    background: #1e52a8;
    transition: all 300ms ease;
  }



  
  

  /* css footer */

/* Flexbox */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .content {
    flex: 1;
  }
  
  /* Footer */
  .footer {
    background-color: #1e52a8;
    color: #ffffff;
    padding: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    z-index: 100;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .footer a:hover,
  .footer a:active {

    background-color: #ffffff;
    color: #1e52a8;  

  }
  
/* fin fotter */




/* debut navbar */

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e52a8;
    color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
  .navbar-brand {
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    display: flex; /* Ajouté */
    align-items: center; /* Ajouté */
  }
  
  /* Ajouté pour styliser l'image du logo */
  .logo {
    height: 40px;
    width: auto;
    margin-right: 10px; /* Ajouté pour ajouter un peu d'espace entre le logo et le texte */
  }
  
  .nav-items {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /*ceci a changée*/
  .nav-link:hover,
  .nav-link:active {
    background-color: #ffffff;
    color: #1e52a8;
    }
  /*fin changement*/

  
  .navbar-brand:hover {
    color: inherit;
  }
  /* fin navbar */


  /* debut sidebar */

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #1e52a8;
    color: #ffffff;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.3s;
  }
  
  .sidebar-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #1e52a8;
    margin-bottom: 45px; /* Ajouter une marge en bas pour augmenter l'espacement */
  }
  
  .sidebar-logo img {
    height: 80px;
    width: auto;
    margin-bottom: 5px;
  }
  
  .sidebar-logo-text {
    font-size: 1.5em;
  
  }
  
  .sidebar-header a {
    display: block;
    padding: 20px;
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  /*ceci a changée*/
  .sidebar-header a:hover,
  .sidebar-header a:active {

    background-color: #ffffff;
    color: #1e52a8;    
  }
  /*fin changement*/

  .list-unstyled a {
    display: block;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
  }
  
  /*ceci a cchangée*/
  .list-unstyled a:hover,
  .list-unstyled a:active {

    background-color: #ffffff;
    color: #1e52a8;    
  }
  /*fin changelent*/
  .sidebar.active {
    width: 80px;
  }
  
  .sidebar.active .list-unstyled a {
    padding: 10px;
    font-size: 0.8em;
  }
  
  .sidebar-line {
    border-bottom: 8px solid #ffffff;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  /* fin sidebar */


  /*ligne de separation*/
  .navbar-line {
    border-bottom: 10px solid #ffffff;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  /*fin ligne */


  /*style pour title Home Client*/


/* Home Client style  */

  /* Style pour le texte et l'icône */
  .client-text {
    color: white; /* Couleur du texte blanc */
    background-color: #1e52a8; /* Couleur de fond bleu */
    display: inline; /* Affichage en ligne pour aligner le texte avec l'icône */
    padding: 10px; /* Espacement autour du texte */
  }


  .client-header {
    display: flex; /* Alignement horizontal de l'icône et du texte */
    justify-content: center; /* Centrer le contenu horizontalement */
    align-items: center; /* Centrer le contenu verticalement */
  }

  /*fin*/

  /* Style css pour les btn */


  .yes, .validate, .reject, .retour{
    justify-content: center; /* Ajouté pour centrer le contenu */
    align-items: center; /* Ajouté pour aligner verticalement le contenu */
    border: none;
    display: flex;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}



.yes {
  
  background-color: #008000;
  color: white;
}

.yes:hover {
  background-color: #006600; /* Couleur plus foncée pour le survol */
}

.retour {
  
    background-color: #BEBEBE;
    color: #000000;
}

.retour:hover {
background-color: #D3D3D3;
}



.validate {
    background-color: #1e52a8;
    color: white;
}

.validate:hover {
    background-color: #0d3d7a;
}





.reject {
    background-color: #ff6666;
    color: white;
}

.reject:hover {
    background-color: #e60000;
}


.yes i, .validate i, .reject i, .retour i {
  margin-right: 8px; /* Ajustez cette valeur en fonction de vos préférences */
}


/* fin css pour les btn */


.card {
  /* ... */
 /* border: 1px solid #1e52a8; */
}

.card:hover {
  background-color: #1e52a8;
  
}

.card:hover .icon,
.card:hover h3 {
  color: #ffffff;
}
/*fin CSS ajoutée pour la transition*/ 


/*CSS ajoutée*/
h3 {
  color: #1e52a8;
}
/*fin CSS ajoutée*/


/* fin style css pour les btn */



/* style pour les pop-ups */

/* fin style pour les pop-ups */


/*style pour les tables*/
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #1e52a8;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #1e52a8;
  color: #ffffff;
}

.table td, .table th {
  text-align: center;
}


table tr:nth-child(even) {
  background-color: #f2f2f2;
}
/*fin style pour les tables*/


/*style pour les rubriques*/
#rubriques {
  color: #1e52a8; /* Met l'écriture en bleu */

  justify-content: center;
  font-size: 1.2rem;
}

#rubriques div {
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid #1e52a8; /* Ajoutez une bordure bleue autour des rubriques */

}

#rubriques div i {
color: #1e52a8; /* Met les icônes en bleu */
}
#rubriques div:hover {
  background-color: #1e52a8;
  color: #ffffff;
}

.active {
  background-color: #1e52a8;
  color: #ffffff;
}

#rubriques div:hover i {
  color: #ffffff; /* Met les icônes en blanc lors du survol */
}

/*
.active i {
  color: #ffffff; 
}
*/

#rubriques .active i {
color: #ffffff;
}


/*fin style pour les rubriques*/

/*style pour les inputs */

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


#search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/*fin style*/

/*css pour loading spinner*/
#loading-spinner {
  position: fixed; /* Pour qu'il couvre toute la page */
  z-index: 9999; /* Pour qu'il soit au-dessus de tout le contenu */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* Noir semi-transparent */
  display: flex;
  justify-content: center; /* Pour centrer le spinner horizontalement */
  align-items: center; /* Pour centrer le spinner verticalement */
}

#loading-spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #1e52a8; /* La couleur du spinner a été modifiée pour correspondre à votre choix */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*fin css pour loading spinner*/